---
import Page from '../../layouts/Page.astro';
import FriendCard from '../../components/FriendCard.astro';
import { friends } from '../../data/friends';
import { t } from '../../utils/i18n';
---

<Page title={t('friends.title', 'zh')}>
  <p class="mb-8">
    我关注的朋友和博客。如果你想交换友链，欢迎联系我！
  </p>

  <div class="grid gap-4 sm:grid-cols-2">
    {friends.map(friend => (
      <FriendCard {...friend} />
    ))}
  </div>
</Page>
